### Start from here

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.utils import shuffle
from keras.models import Sequential
from keras.layers import Dense
from keras.optimizers import Adam
from keras import backend as K
import tensorflow as tf
tf.keras.backend.set_floatx('float32')

In [2]:

# Load the data
data = pd.read_csv("C:\\Users\\Mohammad\\Desktop\\Uni\\Uni work\\Year 4\\Term 7, fall 2022\\CMPE 460 Deep Learning\project\\CMPE-460-Project\\dataset\\car_price_prediction.csv")

# drop rows where the price is less than 100
data = data[data['Price'] >= 100]
data = data[~data['Model'].isin(["GONOW","IVECO DAYLY"])]




# Drop the totalPrice column
data = data.drop('totalPrice', axis=1)
data = data.drop('Wheel', axis=1)
data = data.drop('no-tax', axis=1)
data = data.drop('Engine volume', axis=1)
data['Doors'] = data['Doors'].replace({'-May':'','-Mar':''}, regex=True)
data['Doors'] = data['Doors'].str.replace('>5','5')

# Drop rows with missing or empty values in the "Doors" column
data = data[data['Doors'].str.strip() !='']
data['Doors'] = data['Doors'].astype(int)

data['Doors'] = data['Doors'].astype(int)

# Gear box editing
data['Gear box type'] = data['Gear box type'].replace({'Automatic': 1, 'Tiptronic': 2,'Variator':3, 'Manual':4})
data = data[data['Gear box type'].isin([1,2,3,4])]

data["Gear box type"] = data["Gear box type"].astype(int)

# 'Automatic' is changed to 1
# 'Tiptronic' is changed to 2
# 'Variator' is changed to 3
# 'Manual' is changed to 4


# Replace values in the "Leather interior" column based on conditions
data["Leather interior"] = data["Leather interior"].replace({"Yes": 1, "No": 0}) # Yes is 1; No is 0
# keep the rows where the value of "Leather interior" is 0 or 1
data = data[data["Leather interior"].apply(lambda x: x in [0, 1])]



# fuel type edit
data["Fuel type"] = data["Fuel type"].replace({"Hybrid":1, "Petrol":2,"Diesel":3,"CNG":4,"Plug-in Hybrid":5,"LPG":6,"Hydrogen":7})
allowed_fuel_types = [1, 2, 3, 4, 5, 6, 7]
data = data[data["Fuel type"].apply(lambda x: x in allowed_fuel_types)]

# 'Hybrid' is changed to 1,
# 'Petrol' is changed to 2, 
# 'Diesel' is changed to 3, 
# 'CNG' is changed to 4, 
# 'Plug-in Hybrid' is changed to 5, 
# 'LPG' is changed to 6,
# 'Hydrogen' is changed to 7

In [3]:
# Mapping

data["Manufacturer"] = data["Manufacturer"].replace({"LEXUS":1, "CHEVROLET":2,"GREATWALL":3,"HONDA":4,"FORD":5,"HYUNDAI":6,"TOYOTA":7,
                                                     "MERCEDES-BENZ":8, "OPEL":9,"PORSCHE":10,"BMW":11,"JEEP":12,"VOLKSWAGEN":13,"AUDI":14,
                                                     "RENAULT":15, "NISSAN":16,"SUBARU":17,"DAEWOO":18,"KIA":19,"MITSUBISHI":20,"SSANGYONG":21,
                                                     "MAZDA":22, "GMC":23,"FIAT":24,"INFINITI":25,"ALFA ROMEO":26,"SUZUKI":27,"ACURA":28,
                                                     "LINCOLN":29, "VAZ":30,"GAZ":31,"CITROEN":32,"LAND ROVER":33,"MINI":34,"DODGE":35,
                                                     "CHRYSLER":36, "JAGUAR":37,"ISUZU":38,"SKODA":39,"DAIHATSU":40,"BUICK":41,"TESLA":42,
                                                     "CADILLAC":43, "PEUGEOT":44,"BENTLEY":45,"VOLVO":46,"HAVAL":47,"HUMMER":48,"SCION":49,
                                                     "UAZ":50, "MERCURY":51,"ZAZ":52,"ROVER":53,"SEAT":54,"LANCIA":55,"MOSKVICH":56,
                                                     "MASERATI":57, "FERRARI":58,"SAAB":59,"LAMBORGHINI":60,"PONTIAC":61,"SATURN":62,"ASTON MARTIN":63})

In [4]:
# Remove "KM"
data["Mileage"] = data["Mileage"].str.replace("km","")
data["Mileage"] = data["Mileage"].astype(float)

In [5]:
data["Category"] = data["Category"].replace({"Jeep":1, "Hatchback":2,"Sedan":3,"Microbus":4,"Goods wagon":5,"Universal":6,"Coupe":7,
                                             "Minivan":8, "Cabriolet":9,"Limousine":10,"Pickup":11})

In [6]:
data["Color"] = data["Color"].replace({"Silver":1, "Black":2,"White":3,"Grey":4,"Blue":5,"Green":6,"Red":7,
                                                     "Sky blue":8, "Orange":9,"Yellow":10,"Golden":11,"Beige":12,"Brown":13,"Carnelian red":14,
                                                     "Purple":15, "Pink":16})

data = pd.get_dummies(data, columns=["Color"])

In [7]:
data["Drive wheels"] = data["Drive wheels"].replace({"4x4":1, "Front":2,"Rear":3})

In [8]:
from sklearn.preprocessing import LabelEncoder

# Initialize the encoder
encoder = LabelEncoder()

# Fit the encoder on the "Model" feature
encoder.fit(data["Model"])

# Transform the "Model" feature to numeric
data["Model"] = encoder.transform(data["Model"])

In [9]:
Cat_types = data["Model"].unique()
p = 0
for c in Cat_types:
    p += 1  
    print(p,c)

1 1228
2 651
3 677
4 654
5 1288
6 1140
7 1315
8 431
9 1221
10 595
11 1397
12 1432
13 371
14 626
15 1223
16 569
17 794
18 838
19 1461
20 461
21 1508
22 817
23 372
24 825
25 882
26 1376
27 1148
28 258
29 657
30 477
31 1182
32 1018
33 589
34 1178
35 312
36 774
37 902
38 158
39 535
40 735
41 1428
42 206
43 1417
44 1473
45 452
46 1041
47 978
48 1546
49 521
50 531
51 1077
52 772
53 139
54 717
55 926
56 110
57 1129
58 591
59 801
60 198
61 793
62 1343
63 711
64 1132
65 89
66 669
67 247
68 609
69 928
70 918
71 481
72 175
73 320
74 1299
75 1008
76 1198
77 1094
78 1371
79 26
80 848
81 119
82 943
83 642
84 1302
85 1477
86 207
87 1047
88 1212
89 459
90 1185
91 1107
92 578
93 2
94 118
95 329
96 1475
97 85
98 226
99 1124
100 552
101 807
102 1430
103 441
104 1130
105 233
106 851
107 256
108 15
109 822
110 409
111 1102
112 1441
113 1206
114 1303
115 403
116 286
117 288
118 470
119 418
120 274
121 879
122 501
123 1248
124 993
125 151
126 790
127 1300
128 1387
129 339
130 244
131 1422
132 644
133 347
134 401
135 1255
136 1202
137 1554
138 1437
139 315
140 83
141 602
142 391
143 287
144 969
145 234
146 484
147 66
148 1082
149 437
150 565
151 778
152 995
153 1372
154 870
155 1363
156 850
157 792
158 483
159 1098
160 352
161 194
162 1207
163 579
164 1078
165 776
166 1049
167 745
168 899
169 294
170 1528
171 263
172 3
173 1046
174 269
175 81
176 927
177 1066
178 1301
179 326
180 92
181 577
182 1378
183 1423
184 162
185 1265
186 137
187 142
188 222
189 799
190 916
191 811
192 643
193 358
194 1494
195 1214
196 559
197 1446
198 316
199 964
200 991
201 504
202 388
203 704
204 494
205 487
206 471
207 1220
208 215
209 71
210 1225
211 510
212 1096
213 150
214 1059
215 920
216 871
217 705
218 708
219 1381
220 1005
221 1010
222 511
223 1292
224 1338
225 999
226 1488
227 834
228 901
229 1327
230 636
231 1251
232 285
233 581
234 699
235 616
236 956
237 865
238 1283
239 1258
240 131
241 1035
242 542
243 1527
244 877
245 515
246 502
247 1280
248 1249
249 1176
250 239
251 732
252 823
253 1359
254 847
255 1144
256 550
257 419
258 22
259 242
260 1537
261 853
262 95
263 744
264 729
265 491
266 1403
267 1542
268 264
269 1024
270 1162
271 1335
272 4
273 1122
274 614
275 1339
276 75
277 70
278 1247
279 224
280 1451
281 696
282 458
283 1361
284 549
285 1434
286 1373
287 575
288 937
289 214
290 1394
291 1560
292 854
293 537
294 96
295 392
296 188
297 861
298 1266
299 13
300 1196
301 1493
302 1353
303 1308
304 608
305 1518
306 427
307 1267
308 397
309 1401
310 112
311 751
312 1083
313 1134
314 474
315 378
316 880
317 33
318 1054
319 836
320 465
321 1532
322 755
323 446
324 919
325 1056
326 1298
327 1011
328 1234
329 862
330 1389
331 1028
332 1297
333 771
334 1551
335 86
336 1313
337 210
338 898
339 506
340 109
341 1405
342 640
343 1356
344 436
345 695
346 1511
347 878
348 499
349 923
350 1044
351 524
352 1169
353 204
354 1382
355 422
356 1316
357 551
358 585
359 1324
360 768
361 297
362 469
363 623
364 1090
365 270
366 1329
367 402
368 79
369 1358
370 395
371 858
372 478
373 733
374 1101
375 967
376 148
377 544
378 516
379 1390
380 381
381 1366
382 1481
383 1456
384 833
385 413
386 1033
387 65
388 468
389 1061
390 611
391 945
392 292
393 190
394 235
395 663
396 284
397 1385
398 272
399 683
400 1454
401 812
402 42
403 310
404 9
405 387
406 952
407 338
408 254
409 1123
410 485
411 219
412 442
413 1330
414 953
415 707
416 673
417 824
418 606
419 694
420 873
421 1395
422 939
423 1447
424 1219
425 1396
426 1544
427 1136
428 1032
429 1193
430 14
431 507
432 1413
433 554
434 886
435 981
436 396
437 416
438 1545
439 249
440 322
441 489
442 1263
443 168
444 747
445 121
446 184
447 23
448 223
449 1013
450 727
451 255
452 1030
453 346
454 32
455 170
456 659
457 493
458 361
459 1025
460 1522
461 166
462 665
463 317
464 279
465 1491
466 973
467 180
468 439
469 866
470 845
471 238
472 539
473 1424
474 1085
475 133
476 1241
477 1538
478 1540
479 1118
480 681
481 831
482 368
483 1016
484 380
485 563
486 424
487 1039
488 1402
489 141
490 80
491 1295
492 655
493 1233
494 348
495 1407
496 802
497 63
498 475
499 1133
500 117
501 367
502 307
503 1285
504 1392
505 16
506 784
507 819
508 1314
509 1310
510 125
511 816
512 448
513 557
514 931
515 1504
516 404
517 652
518 1084
519 583
520 1485
521 1111
522 1524
523 666
524 1093
525 562
526 250
527 596
528 1105
529 721
530 1086
531 420
532 498
533 1269
534 1408
535 351
536 354
537 113
538 987
539 752
540 970
541 924
542 384
543 645
544 1399
545 1287
546 961
547 423
548 265
549 633
550 174
551 1222
552 277
553 1045
554 1023
555 398
556 1180
557 1500
558 389
559 1211
560 1309
561 631
562 540
563 21
564 968
565 12
566 1497
567 846
568 1440
569 366
570 1153
571 601
572 668
573 1318
574 975
575 1235
576 1163
577 1349
578 1380
579 1216
580 1523
581 889
582 749
583 1230
584 246
585 844
586 291
587 714
588 725
589 243
590 129
591 1374
592 262
593 1289
594 1345
595 77
596 587
597 603
598 1087
599 278
600 58
601 1468
602 675
603 163
604 107
605 293
606 1319
607 1171
608 1215
609 1186
610 1484
611 1147
612 1138
613 1547
614 590
615 653
616 829
617 172
618 49
619 1521
620 803
621 130
622 1192
623 966
624 11
625 648
626 1017
627 682
628 375
629 1505
630 600
631 321
632 638
633 171
634 713
635 450
636 757
637 1333
638 169
639 37
640 700
641 788
642 1513
643 73
644 1021
645 1254
646 534
647 432
648 598
649 183
650 414
651 434
652 726
653 411
654 1007
655 635
656 41
657 1270
658 147
659 762
660 0
661 1191
662 1209
663 72
664 90
665 867
666 698
667 1218
668 1113
669 1559
670 629
671 74
672 290
673 1072
674 102
675 344
676 1393
677 1062
678 512
679 1435
680 574
681 518
682 763
683 555
684 1421
685 165
686 120
687 1486
688 1474
689 123
690 1533
691 876
692 144
693 1070
694 750
695 530
696 405
697 1194
698 543
699 1055
700 295
701 1509
702 1293
703 193
704 212
705 1038
706 78
707 1284
708 1245
709 454
710 1257
711 734
712 533
713 357
714 61
715 1459
716 260
717 189
718 514
719 743
720 5
721 94
722 1337
723 960
724 115
725 505
726 912
727 245
728 324
729 840
730 435
731 1060
732 370
733 1357
734 1322
735 433
736 917
737 304
738 1036
739 1501
740 997
741 1526
742 710
743 702
744 856
745 97
746 1226
747 1563
748 875
749 618
750 1172
751 202
752 417
753 624
754 983
755 195
756 1442
757 296
758 34
759 1406
760 201
761 646
762 1555
763 1141
764 971
765 479
766 1275
767 891
768 1067
769 1126
770 1320
771 318
772 1525
773 664
774 1449
775 914
776 237
777 1004
778 1460
779 1503
780 1550
781 709
782 259
783 1367
784 951
785 53
786 564
787 1183
788 1404
789 1450
790 449
791 972
792 780
793 841
794 818
795 584
796 1115
797 1510
798 509
799 445
800 52
801 199
802 182
803 672
804 761
805 925
806 44
807 1409
808 1173
809 658
810 51
811 490
812 607
813 1492
814 261
815 467
816 979
817 662
818 1561
819 1051
820 1498
821 349
822 160
823 1203
824 457
825 1438
826 406
827 998
828 724
829 622
830 690
831 946
832 832
833 1161
834 500
835 365
836 522
837 632
838 1364
839 213
840 1
841 715
842 1160
843 1476
844 1368
845 1205
846 43
847 809
848 786
849 1040
850 810
851 17
852 605
853 47
854 336
855 1119
856 593
857 777
858 703
859 38
860 893
861 132
862 804
863 353
864 1502
865 154
866 753
867 938
868 787
869 114
870 88
871 20
872 340
873 25
874 716
875 1557
876 161
877 692
878 332
879 362
880 915
881 426
882 612
883 1499
884 466
885 407
886 232
887 355
888 1384
889 205
890 91
891 722
892 795
893 1000
894 604
895 532
896 93
897 982
898 650
899 283
900 1418
901 59
902 764
903 756
904 864
905 428
906 503
907 460
908 464
909 1388
910 597
911 177
912 830
913 815
914 548
915 637
916 558
917 192
918 1050
919 217
920 275
921 1058
922 857
923 229
924 1002
925 1042
926 127
927 888
928 390
929 691
930 126
931 153
932 619
933 1037
934 363
935 50
936 325
937 962
938 1431
939 1179
940 197
941 885
942 82
943 837
944 1261
945 561
946 476
947 486
948 1112
949 257
950 1089
951 1190
952 517
953 1306
954 116
955 1165
956 1201
957 996
958 386
959 303
960 592
961 789
962 447
963 783
964 627
965 138
966 308
967 382
968 1410
969 1414
970 356
971 556
972 855
973 48
974 415
975 143
976 1478
977 728
978 718
979 906
980 582
981 1131
982 1027
983 929
984 46
985 1146
986 977
987 228
988 187
989 68
990 1425
991 492
992 1001
993 568
994 268
995 69
996 905
997 1238
998 940
999 1506
1000 693
1001 364
1002 881
1003 719
1004 765
1005 1541
1006 769
1007 1081
1008 216
1009 1517
1010 408
1011 333
1012 1069
1013 1535
1014 1259
1015 1253
1016 159
1017 173
1018 910
1019 181
1020 1398
1021 723
1022 473
1023 1116
1024 334
1025 806
1026 949
1027 314
1028 1548
1029 676
1030 373
1031 613
1032 45
1033 6
1034 1342
1035 1496
1036 1489
1037 1103
1038 282
1039 1097
1040 1236
1041 1323
1042 236
1043 1277
1044 1420
1045 1347
1046 443
1047 453
1048 54
1049 1108
1050 1217
1051 890
1052 1317
1053 922
1054 369
1055 1095
1056 980
1057 105
1058 1143
1059 101
1060 670
1061 738
1062 1455
1063 955
1064 7
1065 1412
1066 313
1067 808
1068 1495
1069 1360
1070 941
1071 730
1072 932
1073 1444
1074 594
1075 1479
1076 1278
1077 1467
1078 1252
1079 28
1080 820
1081 98
1082 1328
1083 1439
1084 40
1085 984
1086 1195
1087 1125
1088 122
1089 1006
1090 1137
1091 701
1092 1208
1093 1009
1094 625
1095 18
1096 164
1097 1168
1098 1199
1099 860
1100 281
1101 863
1102 1239
1103 617
1104 211
1105 1166
1106 1272
1107 400
1108 737
1109 1340
1110 179
1111 1064
1112 1068
1113 766
1114 1048
1115 754
1116 947
1117 686
1118 805
1119 791
1120 176
1121 1231
1122 273
1123 1514
1124 1157
1125 39
1126 986
1127 1053
1128 1015
1129 1507
1130 933
1131 1336
1132 440
1133 1237
1134 1281
1135 343
1136 62
1137 309
1138 1276
1139 739
1140 796
1141 1351
1142 145
1143 1210
1144 679
1145 1519
1146 814
1147 913
1148 944
1149 1348
1150 399
1151 57
1152 76
1153 134
1154 1290
1155 1334
1156 1419
1157 827
1158 1341
1159 1184
1160 1311
1161 1174
1162 1483
1163 345
1164 1273
1165 1197
1166 1369
1167 1365
1168 1562
1169 1020
1170 573
1171 1268
1172 897
1173 513
1174 785
1175 1352
1176 108
1177 538
1178 1088
1179 678
1180 1213
1181 706
1182 826
1183 992
1184 462
1185 1391
1186 523
1187 1490
1188 989
1189 135
1190 963
1191 671
1192 1187
1193 241
1194 27
1195 167
1196 519
1197 1346
1198 615
1199 1415
1200 1071
1201 455
1202 252
1203 697
1204 895
1205 350
1206 10
1207 760
1208 1003
1209 1472
1210 767
1211 1429
1212 1552
1213 1465
1214 209
1215 1117
1216 1232
1217 571
1218 1482
1219 156
1220 1099
1221 586
1222 620
1223 736
1224 1411
1225 1110
1226 954
1227 957
1228 456
1229 1189
1230 628
1231 528
1232 1443
1233 220
1234 267
1235 958
1236 1445
1237 1243
1238 218
1239 1296
1240 909
1241 1150
1242 599
1243 337
1244 656
1245 136
1246 1464
1247 1564
1248 759
1249 621
1250 1109
1251 1135
1252 1543
1253 1530
1254 84
1255 942
1256 634
1257 1043
1258 1304
1259 1065
1260 1375
1261 289
1262 988
1263 1181
1264 1188
1265 1256
1266 959
1267 276
1268 1458
1269 781
1270 974
1271 104
1272 965
1273 359
1274 1031
1275 1034
1276 55
1277 29
1278 301
1279 731
1280 328
1281 1436
1282 379
1283 839
1284 1354
1285 19
1286 1091
1287 196
1288 1151
1289 758
1290 872
1291 1127
1292 393
1293 1294
1294 248
1295 231
1296 560
1297 775
1298 1416
1299 67
1300 1177
1301 1307
1302 280
1303 1350
1304 934
1305 843
1306 770
1307 680
1308 1057
1309 152
1310 896
1311 773
1312 859
1313 302
1314 385
1315 1022
1316 342
1317 647
1318 639
1319 35
1320 1158
1321 748
1322 1515
1323 545
1324 140
1325 1014
1326 1433
1327 849
1328 251
1329 266
1330 253
1331 868
1332 1063
1333 311
1334 746
1335 1463
1336 31
1337 547
1338 894
1339 1344
1340 520
1341 1355
1342 994
1343 1549
1344 1457
1345 8
1346 526
1347 410
1348 1240
1349 649
1350 488
1351 1120
1352 300
1353 1291
1354 1075
1355 203
1356 330
1357 319
1358 842
1359 1331
1360 1466
1361 1487
1362 1326
1363 1142
1364 828
1365 1312
1366 1286
1367 240
1368 508
1369 779
1370 225
1371 1012
1372 1512
1373 472
1374 56
1375 335
1376 1400
1377 146
1378 178
1379 1139
1380 1052
1381 186
1382 99
1383 298
1384 900
1385 305
1386 24
1387 1262
1388 570
1389 1279
1390 1321
1391 331
1392 1019
1393 1516
1394 921
1395 1539
1396 572
1397 1260
1398 1250
1399 1244
1400 985
1401 580
1402 1156
1403 908
1404 684
1405 527
1406 496
1407 1531
1408 1271
1409 30
1410 903
1411 797
1412 1427
1413 425
1414 383
1415 1383
1416 1426
1417 463
1418 106
1419 1274
1420 1170
1421 394
1422 444
1423 128
1424 299
1425 740
1426 525
1427 1480
1428 191
1429 798
1430 689
1431 630
1432 546
1433 1074
1434 1114
1435 1227
1436 1104
1437 1305
1438 742
1439 782
1440 1121
1441 421
1442 935
1443 1092
1444 1379
1445 429
1446 588
1447 323
1448 1026
1449 1556
1450 1167
1451 1175
1452 1145
1453 1200
1454 100
1455 306
1456 1470
1457 451
1458 529
1459 438
1460 111
1461 907
1462 103
1463 1558
1464 1453
1465 950
1466 185
1467 1159
1468 688
1469 341
1470 930
1471 1462
1472 1242
1473 155
1474 904
1475 892
1476 495
1477 821
1478 482
1479 567
1480 884
1481 813
1482 566
1483 874
1484 869
1485 374
1486 1377
1487 553
1488 936
1489 497
1490 1204
1491 1100
1492 536
1493 36
1494 64
1495 227
1496 271
1497 835
1498 1362
1499 948
1500 887
1501 687
1502 480
1503 661
1504 1553
1505 883
1506 674
1507 720
1508 1325
1509 1264
1510 852
1511 976
1512 660
1513 1448
1514 200
1515 60
1516 800
1517 1152
1518 87
1519 1332
1520 430
1521 1370
1522 1386
1523 230
1524 124
1525 1154
1526 377
1527 1080
1528 208
1529 412
1530 1106
1531 1149
1532 1073
1533 1128
1534 911
1535 221
1536 990
1537 1246
1538 1164
1539 1534
1540 712
1541 541
1542 1282
1543 1224
1544 1076
1545 1520
1546 1529
1547 1536
1548 149
1549 360
1550 1079
1551 641
1552 741
1553 1452
1554 1029
1555 1469
1556 327
1557 1471
1558 610
1559 157
1560 685
1561 667
1562 376
1563 576
1564 1229
1565 1155

In [10]:
# # Assign each value of the "Model" column with the integer value of the corresponding "Manufacturer"
# data["Model_enc"] = data["Manufacturer"]

In [11]:
data.head(1100)

,ID,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Mileage,Cylinders,Gear box type,...,Color_7,Color_8,Color_9,Color_10,Color_11,Color_12,Color_13,Color_14,Color_15,Color_16
0,1,1,1228,2010,1,1,1,186005.0,6,1,...,0,0,0,0,0,0,0,0,0,0
1,2,2,651,2011,1,0,2,192000.0,6,2,...,0,0,0,0,0,0,0,0,0,0
2,3,4,677,2006,2,0,2,200000.0,4,3,...,0,0,0,0,0,0,0,0,0,0
3,4,5,654,2011,1,1,1,168966.0,4,1,...,0,0,0,0,0,0,0,0,0,0
4,5,4,677,2014,2,1,2,91901.0,4,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1138,1139,12,491,2009,1,1,2,163866.0,4,1,...,1,0,0,0,0,0,0,0,0,0
1139,1140,7,431,2017,3,1,2,20877.0,4,1,...,0,0,0,0,0,0,0,0,0,0
1140,1141,5,735,2013,3,1,2,137000.0,4,2,...,0,0,0,0,0,0,0,0,0,0
1142,1143,17,1542,2013,1,1,1,800.0,6,1,...,0,0,0,0,0,0,0,0,0,0
1143,1144,7,258,2017,6,1,1,9027.0,4,1,...,0,0,0,0,0,0,0,0,0,0

In [12]:
# from sklearn.preprocessing import StandardScaler
# from sklearn.model_selection import train_test_split
# # Define the features and labels
# data = pd.DataFrame(data, columns=X.columns)


# X = data.drop("Price", axis=1)
# y = np.log(data["Price"])

# # fit the scaler on X
# scaler.fit(X)

# # Scale the data
# X = scaler.transform(X)

# # Split the data into training and test sets
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [14]:
# NOT WORKING

#------------------------------------------------------------------------------

# Split the data into features (inputs) and target (output)
X = data.drop('Price', axis=1)
y = data['Price'].astype('float32')


# Normalize the input features
X_num = X.select_dtypes(include=['float', 'int'])
X_num = (X_num - X_num.mean()) / X_num.std()

# Shuffle the data
X_num, y = shuffle(X_num, y, random_state=42)

# Split the data into training, validation, and test sets
X_train, X_test, y_train, y_test = train_test_split(X_num, y, test_size=0.2, random_state=42)
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.2, random_state=42)

#Define the model
model = Sequential()

#Add layers to the model
model.add(Dense(32, input_dim=X_num.shape[1], activation='LeakyRelu'))
model.add(Dense(16, activation='relu'))
model.add(Dense(8, activation='relu'))
model.add(Dense(1, activation='linear'))

# Compile the model
def root_mean_squared_error(y_true, y_pred):
    return K.sqrt(K.mean(K.square(y_pred - y_true)))

model.compile(optimizer=Adam(learning_rate=0.001), loss=root_mean_squared_error)

# Train the model
history = model.fit(X_train, y_train, epochs=100, batch_size=32, validation_data=(X_val, y_val))

# Evaluate the model on the test set
test_loss, test_acc = model.evaluate(X_test, y_test)
test_loss = test_loss.ravel()[0]
print('Test loss:', test_loss)

# Save the model
model.save('used_car_price_model.h5')

# Save the training history
import pickle
with open('used_car_price_history', 'wb') as f:
    pickle.dump(history.history, f)

ValueError: Unknown activation function: LeakyRelu. Please ensure this object is passed to the `custom_objects` argument. See https://www.tensorflow.org/guide/keras/save_and_serialize#registering_the_custom_object for details.